:root {
	--dark: #1f1d36;
	--l-dark: #3f3351;
	--purple: #864879;
	--soft-red: #e9a6a6;
}
header {
	background-color: var(--dark);
	height: 9%;
	padding: 2%;
	text-align: center;
	font-size: 5rem;
	font-family: 'Staatliches', cursive;
}
main {
	background-color: var(--l-dark);
	height: 73.2%;
}
main > h1 {
	font-size: 3rem;
	text-align: center;
}
footer {
	background-color: var(--purple);
	padding: 1%;
	font-size: 2rem;
	height: 5%;
}
